.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100%;
  /* background-color: white; */
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 78%;
}

.navitems {
  display: flex;
  gap: 40px;
}

.itemslist {
  list-style: none;
  color: #161731;
  font-weight: 650;
  margin: 7px 0px 0px 0px;
}

.tag:hover{

  background-color: #161731;
 
  border-radius: 20px;
  color: white;

}

.leftside {
  margin: 7px 0px 0px 0px;
}

.red {
  color: red;
}

.button {
  height: 35px;
  width: 120px;
  border-radius: 20px;
  border: 2px solid #247aeb;
  background: none;
  font-weight: 650;
}
.button:hover {
  background-color: #247aeb;
  color: white;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.circle {
  background-color: #e8f3fd;
  width: 460px;
  border-radius: 20px;
  border: 2px solid #e7eff9;
  
}

.tag{

  text-decoration: none;
  color: #161731;
}
